@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {margin: 0; padding: 0; font-family:'Courier New', Courier, monospace; text-decoration: none;}
body {
    overflow-x:hidden; 
    display: grid; 
    grid-template-columns: minmax(20px,100px) minmax(320px,3fr) minmax(0px,2fr) minmax(min-content,1fr) minmax(20px,100px);
    grid-template-rows: min-content;
    height: 100vh;
    width: 100vw;
    max-width: 1700px;
    /* max-height: fit-content; */
    font-weight: 200;
    font-size: 10pt;
    /* background-color: rgb(38, 86, 135); */
  }
  h1{
    font-weight:600;
  }
  a{
    color: black;
  }
body header {
    /* background-color:rgb(11, 11, 11); */
    padding-top:2em;
    grid-column: 2/5;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: fit-content fit-content 100px;
}
    body header h1{background-position: center center; transition: 400ms; height: min-content; padding-bottom: 20px; font-size: 14pt; font-weight:600; white-space: nowrap; 
        background-size: 25px 25px;
        background-image:  
        linear-gradient(to right, rgba(216, 215, 215, 0.5) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(216, 215, 215, 0.5) 1px, transparent 1px);
        box-shadow: inset 0px 0px 3em rgb(255, 255, 255);
    }
    body header h1:hover {
        background-position: center left;
    }
nav {
    height: 40px;
    display: grid; 
    width: fit-content;
    justify-self: left;
    grid-template-columns: min-content min-content min-content min-content;
}
    nav a {
        /* background-color: white; */
        /* border: 3px solid white; */
        color: rgb(116, 106, 131);
        /* height: 110%; */
        /* width: 22%; */
        /* grid-column: 2; */
        padding-right: 20px;
        list-style-type: none;
        font-weight: 200;
        font-size: 140%;
        /* text-align: center; */
    }
        nav a:hover,.thisPage,.email:hover{
            text-decoration: underline;
        }
        .email{
            text-wrap: nowrap;
        }
  main {
    grid-column: 2;
    height: 300px;
    display: grid;
    grid-template-columns: minmax(320px,2fr) 1fr;
    grid-template-rows: auto;
    width: 100%;
    /* grid-gap: 1rem; */

  }  
    main .demo-container{
   width: clamp(10px,100%,1400px);
   grid-column: 1/3;
}
    .demo-container::after{
        content:"Christien Di Angello | A Demo Reel [2024]";
        font-size: 12pt;
        font-weight: thin;
    }

.gallery-media{
    display: grid;
    grid-column: 1;
    grid-template-columns: minmax(300px, 1fr) repeat(auto-fill, 200px); 
    grid-template-rows: min-content;
    grid-gap: 1rem;
}
.gallery-media img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 16/9;
}
    .gallery-media img:hover {
        shadow
        background-size: 25px 25px;
        background-image:  
        linear-gradient(to right, rgba(216, 215, 215, 0.5) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(216, 215, 215, 0.5) 1px, transparent 1px);
    }
    .gallery-media a {
        display: contents;
    }
#about{
    grid-column: 4;
    grid-row: 3;
    padding-right: 20%;
    padding-bottom: 20%;
    background-size: 25px 25px;
    background-image:  
    linear-gradient(to right, rgba(216, 215, 215, 0.5) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(216, 215, 215, 0.5) 1px, transparent 1px);
    box-shadow: inset 0px 0px 20px rgb(255, 255, 255);
    height: fit-content;
    width: 16ch;

}
.gallery-media figcaption{
    grid-column: 2;
    padding-right: 2em;
    width: 10ch;
    background-size: 25px 25px;
    background-image:  
    linear-gradient(to right, rgba(216, 215, 215, 0.5) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(216, 215, 215, 0.5) 1px, transparent 1px);
    box-shadow: inset 0px 0px 10px rgb(255, 255, 255);
    background-position: center center;
    transition-duration: 800ms;
}
.gallery-media a:hover figcaption {
    background-position: top left;
}

/* Work Player */
aside {
    grid-column: 3/5;
    height: min-content;
}
aside span, aside button {
    writing-mode: vertical-lr;
    text-orientation: upright;
    border: 0;
    padding: 0;
    color: inherit;
	background: none;
}
        span {cursor:default;}
        button {cursor:pointer;}

button:active, button:hover, .active-filter, .selected{
    background-color: black;
    color: white;
}
.hide *{
    display: none;
}
#demo-label{
    align-content: end;
}
@media only screen and (max-width: 1000px){
.demo-container{
    height: 90%;
    background-size: 25px 25px;
    background-image:  
    linear-gradient(to right, rgba(216, 215, 215, 0.5) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(216, 215, 215, 0.5) 1px, transparent 1px);
    box-shadow: inset 0px 0px 20px rgb(255, 255, 255);
}
.gallery-media{
    grid-template-columns: 200px;
}
}
@media only screen and (max-width: 540px){
#about{
    grid-column: 2;
    grid-row: 3;
    justify-content: top;
    /* justify-self: right; */
}}
