@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {margin: 0; padding: 0; font-family: "Geo", sans-serif; text-decoration: none;}
body {
    overflow-x: hidden; 
    display: grid; 
    grid-template-columns: minmax(0,200px) 250px 1fr minmax(0,200px);
    grid-template-rows: 5% 100px auto;
    /* height: 100vh; */
    /* width: 100vw; */
    max-width: 1700px;
    /* max-height: fit-content; */
    font-weight: 200;
    font-size: 14pt;
    background-color: rgb(235, 235, 235);

}
body header {
    grid-column: 2/4;
    grid-row: 2;
    display: grid;
    grid-template-columns: minmax(0,240px) 1fr;
}
    body header h1{font-size: 24pt; white-space: nowrap;}
    body header h2{transition-duration: 1000ms; font-size: 50pt; text-align: right;  color: rgba(0, 0, 0, 1);
    }
nav {
    padding-bottom: 2rem;
    padding-top: 2rem;
    /* position: absolute; */
    height: 10%;
    bottom: 3rem;
    display: grid; 
    /* grid-template-columns: 1fr 1fr 1fr; */

}
nav a {
    /* background-color: white; */
    /* border: 3px solid white; */
    color: black;
    /* height: 110%; */
    /* width: 22%; */
    /* grid-column: 2; */
    /* grid-row: ; */
    list-style-type: none;
    font-weight: 600;
    font-size: 140%;
    opacity: 30%;
}
nav a:hover,nav a:active{
    opacity: 1;
}
main {
    /* background-color: rgb(201, 201, 201); */
    margin-top: 50px;
    grid-row: 3;
    grid-column: 2/4;
    height: 100%;
    /* font-size: clamp(100px,1vw,200px); */
}
body article {
    margin-top: 2rem;
    font-size: clamp(12pt,1.8vw,20pt);
    font-weight: 200;
    width: 200px;
}
.demo-container{
   margin: 30px 0px 30px 30px;
   width: clamp(100px,100%,600px);
   aspect-ratio: 16/9; 
   background-color: black;
   grid-row: 1;
   float: right;
   box-shadow: 30px -30px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 700px){
    body header h2 {font-size: 50pt; text-align: right;  color: rgba(0, 0, 0, .2);
}}
@media only screen and (max-height: 609px) {
    body article {
        display: none;
    }
    .demo-container{
        width: clamp(100px,100%,500px);   
    }
}
