html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow: hidden; 
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

.nav-container {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 10dvh;;
    z-index: 500;
    background: linear-gradient( black 85%, rgba(0, 0, 0, 0.0) 100%);
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

nav {
    display: grid;
    grid-template-columns: 6fr 4.5fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 10%;
    width: 80vw;
    z-index: 1000;
    padding-left: 20px 0; /* Adjusted padding for better centering */
    padding-right: 20px 0;
    mask-image: linear-gradient(90deg, rgba(174, 174, 174, 0.4), white 10%, white 90%, rgba(174, 174, 174, 0.4) 100%);
}

nav a {
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: clamp(15px, 1vw, 20pt);
    text-decoration: none;
    color: aliceblue;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    /* border: 3px solid white; */
    border-radius: 10px;
    opacity: 0.5;
    transition: 0.3s;
    margin: 0 1em; /* Added margin for spacing between links */
    /* mask-image: linear-gradient(90deg, rgba(174, 174, 174, 0.2), white 10%, white 95%, transparent 100%); */
}

nav a:hover {
    scale: 1.1 1.1;
    opacity: 1;
}

.nav-name {
    font-family: rubik;
    text-decoration: none; /* Removes underlining from all links */
    font-size: 80%;
    color: white; /* Ensures links inherit the color of their parent */
    z-index: 100;
    user-drag: ;
    -webkit-user-drag: element;
    user-select: element;
    -moz-user-select: element;
    -webkit-user-select: element;
    -ms-user-select: element;
    /* border: 3px solid white; */
}

.horizontal-scroll-container {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    white-space: nowrap;
    height: 100vh; /* Ensure it takes full viewport height */
    margin-top: 60px; /* Adjust this based on your nav height and top offset */
    overflow-y: hidden; /* Prevent vertical scrolling */
}

.page-container {
    transition: 800ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 0 0 auto;
    width: 100vw;
    padding-top: 3vh;
    box-sizing: border-box;
}

.category-container {
    width: 100vw;
    height: calc(100dvh);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-40px);
}

.category {
    width: 50vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    /* padding: 10px; */
    transition: all 0.5s ease;
    position: relative;
    z-index: 1;
    background: #000;
    font-size: 2vh;
    transition: 1000ms;
    opacity: 50%;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#blob {
    position: absolute;
    width: 60%;
    aspect-ratio: 1;
    background: linear-gradient(to right, #a1c4fd, #fda1ff);
    z-index: 1;
    border-radius: 100%;
    animation: rotate 30000ms linear infinite;
    opacity: .25;
    transition: opacity 0.3s; /* Smooth transition for opacity */
    clip-path: polygon(50% 0%, 70% 20%, 100% 50%, 80% 80%, 50% 100%, 10% 80%, 0% 50%, 20% 20%);
}
#blob2 {
    position: absolute;
    width: 60%;
    aspect-ratio: 1;
    background: linear-gradient(to right, #ff9a9e, #fda1ff);
    z-index: 1;
    border-radius: 100%;
    animation: rotate2 30000ms linear infinite;
    opacity: .25;
    transition: opacity 0.3s; /* Smooth transition for opacity */
    clip-path: polygon(40% 0%, 70% 15%, 100% 50%, 80% 85%, 50% 100%, 20% 85%, 0% 50%, 30% 15%);
}
.category:hover {
    z-index: 10;
    cursor: pointer;
    font-size: 2.2vh;
    opacity: 1;
}
.cat-label {
    pointer-events: none; /* Allow pointer events to pass through the label */
    /* font-size: 1vw; */
    z-index: 5; /* Ensure the label is above everything else */
}

#blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(50px);
    background-color: #000;
    transition: 500ms ease-in-out;
}

#blur:hover {
    background-color: #ffffff00;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }
    50% {
        scale: 0.8 1.1;
        clip-path: polygon(40% 0%, 70% 15%, 100% 50%, 80% 85%, 50% 100%, 20% 85%, 0% 50%, 30% 15%);
    }
    to {
        rotate: 360deg;
        clip-path: polygon(50% 0%, 70% 20%, 100% 50%, 30% 80%, 50% 60%, 10% 30%, 30% 50%, 20% 60%);
    }
}
@keyframes rotate2 {
    from {
        rotate: 0deg;
    }
    50% {
        scale: 1.1 0.8;
        clip-path: polygon(50% 0%, 70% 20%, 100% 50%, 80% 80%, 50% 100%, 10% 80%, 0% 50%, 20% 20%);
    }
    to {
        rotate: 360deg;
        clip-path: polygon(40% 0%, 70% 15%, 100% 50%, 80% 85%, 50% 100%, 20% 85%, 0% 50%, 30% 15%);
    }
}

a {
    font-family: rubik;
    text-decoration: none; /* Removes underlining from all links */
    color: white; /* Ensures links inherit the color of their parent */
    z-index: 100;
}
.fade-out {
    transition: 0.5s ease-out;
    transform: translateY(10vw);
    scale: 1;
    opacity: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 3vw;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    animation: cropIn 800ms ease-out; /* Apply the animation */
    overflow: hidden;
}


.grid-container a {
    position: relative;
    display: block;
    overflow: hidden;
    font-weight: 500;
    transition: 500ms;
    border-radius: 20px;
}

.grid-container a:hover {
    scale: 1.04;
    font-weight: 700;
    color: white; /* Text color */
    border: 3px solid #fff;
}

.grid-container img {
    width: 100%;
    height: auto;
    display: block;
    transform: translateX(-100%);
    animation: slideRight 10ms ease-out forwards; Apply the animation
}

.grid-container .overlay-text {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(0, 0, 0, 0.5); Semi-transparent background */
    padding: 8px 16px;
    border-radius: 4px;
    text-align: left;
    font-size: 1rem;
    font-family: rubik;
    pointer-events: none; /* Ensure the text does not interfere with the link */
}

.page-container#card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100dvh); /* Full viewport height */
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh; /* Ensure it takes full height of the parent container */
    transform: translateY(-40px);
    width: 100%; /* Ensure it takes full width of the parent container */
}

.flex-card {
    text-align: center; /* Center text inside the card */
}

.page-container.active {
    opacity: 1;
    transition: opacity 1s ease-in;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr; /* Single column layout */
        padding: 15vw; /* Adjust padding for mobile */
        gap: 5vw; /* Adjust gap for mobile */
    }
    .grid-container .overlay-text {
        text-align: center;
        top: 75%;
        left: 50%;
    }
}

@keyframes cropIn {
    from {
        clip-path: inset(0 0 100% 0 );
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}


@keyframes slideRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.tag-list {
    position: absolute;
    margin: 0;
    bottom: 5%;
    padding-inline: 0;
    list-style: none;
    color: white;
    z-index: 100;
}

.tag-list li {
    font-family: rubik;
    padding: 1rem;
    border: 2px solid white;
    border-radius: 10px;
    opacity: 1;

}

.scroller {
    transition: 1000ms;
    max-width: 200px;
    display: flex;
    justify-content: center;
    overflow:visible;
    opacity: 1;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    /* -webkit-mask-image: linear-gradient(90deg, black, white 20%, white 80%, black 100%); */
}

.scroller__inner{
    padding-block: 1rem;
    width: 80%;
    overflow: hidden;
    justify-content: center;
    display: flex;
    transition: 1000ms;
    animation: loadIn 1000ms forwards;
    mask-image: linear-gradient(90deg, transparent, white 10%, white 90%, transparent 100%);
}

@keyframes loadIn {
    0% {
        scale: 1 1;
        opacity: 0;
        gap: 5rem;
    }
    100% {
        scale: 1;
        opacity: 1;
        gap: 1rem;
    }
}


@media (max-width: 768px) {
    #blob, #blob2 {
        display: none;
    }
    .nav-container {
        position: fixed;
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 20vh;;
        z-index: 500;
        background: linear-gradient( black 85%, rgba(0, 0, 0, 0.0) 100%);
    }
    nav {
        display: grid;
        grid-template-columns: 35vw 0.4fr 10vw 10vw;
        justify-content: left;
        padding-left: 8%;
        gap: 3vw;
        width: 100%;
    }
    nav a{
        right: 0;
    }
    .nav-name{
        left: 0;
    }
    .scroller, .scroller__inner {
        /* display: none; */
    }
    #circa {
        display: none;
    }
    .page-container {
        overflow: scroll;
    }
    .grid-container {
        margin-top: 6vh;
    }
}
